body{
    background-color: darkblue;
}

.jt1{
    background-color: red;
}
.jt1 h1{
    color:white;
    text-align: center;
}

.jt2{

}

.jt2 img{
    display:inline-block;
}

.projects{
        display:inline-block;

}